<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <if condition='"${NAIS_CLUSTER_NAME}" == "prod-gcp"'>
        <then>
            <root level="INFO">
                <appender-ref ref="STDOUT_JSON"/>
            </root>
            <logger name="no.nav.paw.pdl.PdlClient" level="WARN"/>
        </then>
    </if>
    <if condition='"${NAIS_CLUSTER_NAME}" == "dev-gcp"'>
        <then>
            <root level="INFO">
                <appender-ref ref="STDOUT_JSON"/>
            </root>
            <logger name="no.nav.paw" level="DEBUG"/>
            <logger name="no.nav.paw.pdl.PdlClient" level="WARN"/>
        </then>
    </if>
    <if condition='"${NAIS_CLUSTER_NAME}" == "NAIS_CLUSTER_NAME_IS_UNDEFINED"'>
        <then>
            <root level="INFO">
                <appender-ref ref="STDOUT"/>
            </root>
            <logger name="no.nav.paw" level="DEBUG"/>
        </then>
    </if>
</configuration>
