<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %t %5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <if condition='"${NAIS_CLUSTER_NAME}" == "NAIS_CLUSTER_NAME_IS_UNDEFINED"'>
        <then>
            <root level="INFO">
                <appender-ref ref="STDOUT"/>
            </root>
            <logger name="no.nav" level="INFO"/>
            <logger name="Exposed" level="DEBUG"/>
            <logger name="org.apache.kafka.common" level="WARN"/>
            <logger name="org.apache.kafka.clients" level="WARN"/>
            <logger name="io.confluent.kafka.serializers" level="WARN"/>
        </then>
        <else>
            <logger name="no.nav" level="INFO"/>
            <root level="INFO">
                <appender-ref ref="STDOUT_JSON"/>
            </root>
        </else>
    </if>

    <include resource="no/nav/common/audit_log/logback-naudit.xml"/>
</configuration>
