openapi: "3.0.3"
info:
  title: "paw_arbeidssokerregisteret_api_egenvurdering API"
  description: "paw_arbeidssokerregisteret_api_egenvurdering API"
  version: "1.0.0"
servers:
  - url: "https://egenvurdering-arbeidssoekerregisteret.intern.nav.no"
paths:
  /api/v1/arbeidssoker/profilering/egenvurdering/:
    post:
      description: "Tar imot brukerens egenvurdering av profilering"
      parameters:
        - name: "traceparent"
          in: "header"
          required: false
          description: "https://www.w3.org/TR/trace-context/#traceparent-header-field-values"
          schema:
            type: "string"
            format: "traceparent"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EgenvurderingRequest"
        required: true
      responses:
        "202":
          description: "Accepted"
          headers:
            x-trace-id:
              description: "Trace id"
              schema:
                type: "string"
          content:
            application/json:
              schema:
                type: "object"
        "400":
          description: "Bad Request"
          headers:
            x-trace-id:
              description: "Trace id"
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Feil"
        "403":
          description: "Forbidden"
          headers:
            x-trace-id:
              description: "Trace id"
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Feil"
        "500":
          description: "Internal Server Error"
          headers:
            x-trace-id:
              description: "Trace id"
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Feil"
components:
  schemas:
    EgenvurderingRequest:
      type: "object"
      properties:
        profileringId:
          type: "string"
          description: "Unik identifikator for profilering"
          format: uuid
        periodeId:
          type: "string"
          description: "Unik identifikator for arbeidssøkerens periode"
          format: uuid
        egenvurdering:
          $ref: "#/components/schemas/Egenvurdering"
      required:
        - "profileringId"
        - "periodeId"
        - "egenvurdering"
    Egenvurdering:
      type: "string"
      enum:
        - "ANTATT_BEHOV_FOR_VEILEDNING"
        - "ANTATT_GODE_MULIGHETER"
    Feil:
      type: "object"
      properties:
        melding:
          type: "string"
        feilKode:
          type: "string"
          enum:
            - "UKJENT_FEIL"
            - "UVENTET_FEIL_MOT_EKSTERN_TJENESTE"
            - "FEIL_VED_LESING_AV_FORESPORSEL"
            - "IKKE_TILGANG"
      required:
        - "melding"
        - "feilKode"