openapi: "3.0.3"
info:
  title: "paw_arbeidssokerregisteret_api_start_stopp API"
  description: "paw_arbeidssokerregisteret_api_start_stopp API"
  version: "1.0.0"
servers:
  - url: "https://periode-arbeidssoekerregisteret.intern.nav.no"
    description: "Production"
  - url: "https://periode-arbeidssoekerregisteret.intern.dev.nav.no"
    description: "Development"
paths:
  /api/v2/arbeidssoker/kanStartePeriode:
    put:
      description: "Sjekker om bruker kan registreres som arbeidssøker"
      parameters:
        - name: "traceparent"
          in: "header"
          required: false
          description: "https://www.w3.org/TR/trace-context/#traceparent-header-field-values"
          schema:
            type: "string"
            format: "traceparent"
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              properties:
                identitetsnummer:
                  $ref: "#/components/schemas/identitetsnummer"
              required:
                - "identitetsnummer"
        required: true
      responses:
        "400":
          description: "Bad Request"
          headers:
            x-trace-id:
              description: "Trace id"
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeilV2"
        "424":
          description: "Failed Dependency"
          headers:
            x-trace-id:
              description: "Trace id"
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeilV2"
        "500":
          description: "Internal Server Error"
          headers:
            x-trace-id:
              description: "Trace id"
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeilV2"
        "403":
          description: "Forbidden"
          headers:
            x-trace-id:
              description: "Trace id"
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeilV2"
        "204":
          description: "No Content"
          headers:
            x-trace-id:
              description: "Trace id"
              schema:
                type: "string"
          content:
            application/json:
              schema:
                type: "object"
  /api/v2/arbeidssoker/periode:
    put:
      description: "Registrerer bruker som arbeidssøker"
      parameters:
        - name: "traceparent"
          in: "header"
          required: false
          description: "https://www.w3.org/TR/trace-context/#traceparent-header-field-values"
          schema:
            type: "string"
            format: "traceparent"
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              properties:
                identitetsnummer:
                  $ref: "#/components/schemas/identitetsnummer"
                registreringForhaandsGodkjentAvAnsatt:
                  type: "boolean"
                periodeTilstand:
                  type: "string"
                  enum:
                    - "STARTET"
                    - "STOPPET"
                feilretting:
                  description: "Feilretting kan kun benyttes når innloget bruker er ansatt"
                  $ref: "#/components/schemas/Feilretting"
              required:
                - "identitetsnummer"
                - "periodeTilstand"
        required: true
      responses:
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeilV2"
        "424":
          description: "Failed Dependency"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeilV2"
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeilV2"
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeilV2"
        "204":
          description: "No Content"
          content:
            application/json:
              schema:
                type: "object"
components:
  schemas:
    Feilretting:
      type: "object"
      required:
        - "feilType"
      properties:
        feilType:
          type: "string"
          enum:
            - "FeilTidspunkt"
            - "Feilregistrering"
        melding:
          description: "Valgfri kommentar til feilretting"
          type: "string"
        tidspunkt:
          description: "Tidspunkt som må brukes ved feilType=FeilTidspunkt"
          type: "string"
          format: "date-time"
    identitetsnummer:
      type: "string"
      pattern: "^[0-9]{11}$"
      description: "Fødselsnummer eller D-nummer"
    FeilV2:
      type: "object"
      properties:
        melding:
          type: "string"
        feilKode:
          type: "string"
          enum:
            - "UKJENT_FEIL"
            - "UVENTET_FEIL_MOT_EKSTERN_TJENESTE"
            - "FEIL_VED_LESING_AV_FORESPORSEL"
            - "AVVIST"
            - "IKKE_TILGANG"
        aarsakTilAvvisning:
          $ref: "#/components/schemas/AarsakTilAvvisningV2"
      required:
        - "melding"
        - "feilKode"
    AarsakTilAvvisningV2:
      type: "object"
      properties:
        regler:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiRegel"
        detaljer:
          type: "array"
          items:
            $ref: "#/components/schemas/Opplysning"
      required:
        - "beskrivelse"
        - "regel"
        - "detaljer"
    ApiRegel:
      type: "object"
      properties:
        id:
          $ref: "#/components/schemas/ApiRegelId"
        beskrivelse:
          type: "string"
    Opplysning:
      type: "string"
      enum:
        - "FORHAANDSGODKJENT_AV_ANSATT"
        - "SAMME_SOM_INNLOGGET_BRUKER"
        - "IKKE_SAMME_SOM_INNLOGGER_BRUKER"
        - "ANSATT_IKKE_TILGANG"
        - "ANSATT_TILGANG"
        - "IKKE_ANSATT"
        - "ER_OVER_18_AAR"
        - "ER_UNDER_18_AAR"
        - "UKJENT_FOEDSELSDATO"
        - "UKJENT_FOEDSELSAAR"
        - "TOKENX_PID_IKKE_FUNNET"
        - "OPPHOERT_IDENTITET"
        - "IKKE_BOSATT"
        - "DOED"
        - "SAVNET"
        - "HAR_NORSK_ADRESSE"
        - "HAR_UTENLANDSK_ADRESSE"
        - "INGEN_ADRESSE_FUNNET"
        - "BOSATT_ETTER_FREG_LOVEN"
        - "DNUMMER"
        - "UKJENT_FORENKLET_FREG_STATUS"
        - "HAR_GYLDIG_OPPHOLDSTILLATELSE"
        - "OPPHOLDSTILATELSE_UTGAATT"
        - "BARN_FOEDT_I_NORGE_UTEN_OPPHOLDSTILLATELSE"
        - "INGEN_INFORMASJON_OM_OPPHOLDSTILLATELSE"
        - "UKJENT_STATUS_FOR_OPPHOLDSTILLATELSE"
        - "PERSON_IKKE_FUNNET"
        - "SISTE_FLYTTING_VAR_UT_AV_NORGE"
        - "SISTE_FLYTTING_VAR_INN_TIL_NORGE"
        - "IKKE_MULIG_AA_IDENTIFISERE_SISTE_FLYTTING"
        - "INGEN_FLYTTE_INFORMASJON"
        - "ER_GBR_STATSBORGER"
        - "ER_EU_EOES_STATSBORGER"
        - "ER_NORSK_STATSBORGER"
        - "HAR_REGISTRERT_ADRESSE_I_EU_EOES"
        - "UKJENT_OPPLYSNING"
        - "ER_FEILRETTING"
    ApiRegelId:
      type: "string"
      enum:
        - "UKJENT_REGEL"
        - "IKKE_FUNNET"
        - "SAVNET"
        - "DOED"
        - "OPPHOERT_IDENTITET"
        - "ENDRE_FOR_ANNEN_BRUKER"
        - "ANSATT_IKKE_TILGANG_TIL_BRUKER"
        - "IKKE_TILGANG"
        - "UNDER_18_AAR"
        - "IKKE_BOSATT_I_NORGE_I_HENHOLD_TIL_FOLKEREGISTERLOVEN"
        - "ER_EU_EOES_STATSBORGER_MED_STATUS_IKKE_BOSATT"
        - "UKJENT_ALDER"